<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Translation"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mark"
        android:label="InnoTranslate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name="com.example.translationapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.translationapp.VoiceTranslationActivity">

        </activity>

        <activity android:name=".CameraTranslationActivity">

        </activity>

        <activity android:name=".CameraActivity">

        </activity>

        <activity android:name="com.example.translationapp.ProfileActivity">

        </activity>

        <activity android:name=".HistoryActivity">

        </activity>

        <activity android:name=".LoginActivity">

        </activity>

        <activity android:name=".EditInfoActivity">

        </activity>

        <activity android:name=".SettingActivity">

        </activity>

        <activity android:name=".OfflineTranslationActivity">

        </activity>

        <activity android:name=".SuggestionActivity">

        </activity>

        <activity android:name=".NoAccountManagementActivity">

        </activity>

        <activity android:name=".ChooseLanguageActivity">

        </activity>

        <activity android:name=".ResetPasswordActivity">

        </activity>

        <activity android:name=".RegisterActivity">

        </activity>

        <activity android:name=".CameraRecognitionActivity">

        </activity>

        <activity android:name=".TextTranslationActivity">

        </activity>

    </application>

</manifest>
